#banner {
    margin-left: var(--margin-lg);
    margin-right: var(--margin-lg);
    margin-top: var(--margin);
}

.photo img {
    border-radius: 50%;
    width: 500px;
    position: absolute;
}

.nameTitle h1 {
    position: relative;
    left: 310px;
    top: 30px;
    width: 50%;
}

.name h2 {
    position: relative;
    left: 430px;
    top: 20px;
    text-align: right;
    width: 500px;
    margin-bottom: 0;
}

.nameTitle {
    height: 250px;
}

.nameTitle p {
    top: -97px;
    position: relative;
    text-align: right;
    font-size: 18pt;
    margin-bottom: 0;
}

.socialNetwork {
    display: flex;
    justify-content: flex-end;
}

.lineBanner {
    width: 60%;
    border-bottom: 5px solid var(--navbar-color);
    align-self: center;
    margin-right: 30px;
}

.socialNetwork img {
    width: 50px;
    margin-left: var(--margin-sm);
}

.about {
    margin-top: var(--margin);
    margin-left: 540px;
    font-size: 18pt;
}

.about p::first-letter {
    font-size: 150%;
    color: var(--navbar-color);
    font-weight: bold;
}

.lineResponsive,
.addressResponsive {
    display: none
}