@media screen and (max-width: 1740px) {
    .boxList,
    .boxListJob,
    .boxListLanguages {
        margin-right: var(--margin);
        margin-left: var(--margin);
    }
}

@media screen and (max-width: 1550px) {
    #banner {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    .hire img {
        width: 600px;
    }
}

@media screen and (max-width: 1330px) {
    .hire img {
        width: 400px;
    }

    .nameTitle p {
        font-size: 14pt;
        top: -85px;
    }

    .error,
    .success {
        margin-right: 130px;
    }

}

@media screen and (max-width: 1330px) {
    .nameTitle h1 {
        width: 65%;
    }

    .nameTitle p {
        top: 15px;

    }

    .lineBanner {
        display: none;
    }

    .socialNetwork {
        justify-content: center;
        margin-left: 300px;
    }

    .about {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1170px) {
    .hire {
        display: none;
    }

    .formulaire {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .photo img,
    .nameTitle h1,
    .name h2 {
        position: static;
    }

    .titles h2 {
        margin-left: var(--margin-lg);
    }

    .nameTitle h1 {
        font-size: 34pt;
        text-align: center;
    }

    .name h2 {
        text-align: center;
        font-size: 28pt;
    }

    .nameTitle p {
        display: none;
    }

    .photo,
    .nameTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .socialNetwork {
        margin: 0;
        margin-top: 20px;
        justify-content: space-around;
    }

    .nameTitle p {
        align-self: flex-start;
    }

    .lineResponsive {
        display: flex;
        justify-content: center;
        height: 5px;
    }
    .lineBannerResponsive {
        width: 100%;
        border-bottom: 5px solid var(--navbar-color);
        align-self: center;
        margin-top: 10px;
    }

    .addressResponsive {
        display: flex;
        flex-direction: column;
        font-size: 16pt;
    }

    .addressResponsive p {
        margin-bottom: 0;
    }

    .about {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .photo img {
        width: 300px;
    }

    .nameTitle h1 {
        font-size: 28pt;
        margin-top: var(--margin-sm);
    }

    .name {
        width: 100%;
    }

    .name h2 {
        font-size: 18pt;
        width: 100%;
    }

    .about p {
        font-size: 12pt;
    }

    .box ul li img {
        width: 15px;
    }

    .titles {
        width: 100%;
    }

    .titles h2 {
        margin-left: 30px;
        margin-top: 30px;
        width: 30%;
    }

    .titles h2,
    .titleLanguages h2 {
        font-size: 22pt;
    }

    .lineLanguages {
        width: 100%;
    }

    .boxListJob,
    .boxList,
    .boxListLanguages{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }

    .boxWork {
        height: 750px;
    }

    .titleDate,
    .titleDate p,
    .titleDate h3 {
        position: static;
    }

    .titleDate {
        flex-direction: column-reverse;
    }

    .titleDate p {
        margin-top: 0;
    }

    .titleDate h3 {
        font-size: 14pt;
        width: 200px;
    }

    .place {
        margin-top: 26px;
    }

    .place p {
        margin: 10px;
        font-size: 12pt;
    }

    .details p {
        font-size: 12pt;
        margin-top: 26px;
        line-height: 25px;
    }

    .details ul {
        margin-top: 26px;
    }

    .details ul li {
        line-height: 25px;
        font-size: 10pt;
    }

    form {
        width: 300px;
    }

    .send {
        font-size: 10pt;
        padding: 4px 8px;
    }

    .navbar {
        height: 40px;
    }

    .liens_h {
        display: none;
    }

/*-----------HOBBIES ---------------*/
    figcaption {
        display: block;
        color: var(--navbar-color);
        font-weight: bold;
        text-align: center;
    }

    figure:hover figcaption {
        position: static;
        display: block;
        height: auto;
        width: auto;
        background-color: initial;
        color: var(--navbar-color);
        text-align: center;
    }

/* --------------MENU BURGER --------------*/
    .liens_h {
        display: none;
    }

    .liens_h:target {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--navbar-color);
        color: var(--text-light);
        flex-direction: column;
        justify-content: space-around;
        font-size: larger;
    }

    .menu_burger {
        display: block;
        text-decoration: none;
        color: var(--text-light);
        font-size: 20pt;
        margin-left: 10px;
        margin-top: 4px;
        width: 50%;
    }

/*--------ERROR/SUCCESS---------*/
    .error,
    .success {
        width: 300px;
        align-self: flex-end;
        margin: 10px;
    }
}